<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../pkg/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../pkg/bootstrapV5/bootstrap.min.css">
    <link rel="stylesheet" href="../pkg/bootstrapV5/bootstrap-grid.css">
    <link rel="stylesheet" href="../pkg/bootstrapV5/bootstrap-reboot.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/chat2.css">
</head>
<body>

<header class="menu-container">

    <div class="menu">

        <div class="menu-logo-container">
            <a href="/index"><img src="../images/logo.png" alt="logo"></a>
            <a href="/index">
                <h1 class="main-logo-font">GinChat</h1>
            </a>
        </div>


        <div class="menu-group">
            <a href="https://github.com/Ali-darzii/" class="github">
                <i class="fa fa-github"></i>
            </a>
            <a href="" class="profile"><img src="../images/static_profile.png" class="rounded-circle profile-image" alt="profile"></a>
        </div>

    </div>
</header>

<footer class="footer-container">
    <div class="footer-main">
        <div class="footer-content">
            <p>There is a GitHub link to access to my codes</p>
            <p>I hope you enjoy my site</p>
            <p>Thanks, Ali Akbar Darzi</p>
        </div>
        <div class="inner-gmail-container">
            <p class="gmail">ali.darzi.1354@gmail.com</p>
            <button class="login-button copy-button"><i class="fa fa-copy copy-icon"></i></button>
        </div>
        <div class="footer-logo-container">
            <img src="../images/logo.png" class="footer-logo" alt="">
            <!--            <h1 class="main-logo-font">Darzi</h1>-->
        </div>
    </div>
    <div class="footer-copyright">
        <p><a href=""><i class="fa fa-copyright copyright-icon"></i> </a>There is no copy-right you can
            easily
            use my codes ;D</p></div>
    <div></div>
</footer>

</body>
</html>