<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="../pkg/bootstrapV4/bootstrap.min.css">
    <!--    <script src="/static/js/jquery.min.js"></script>-->
    <script src="../pkg/bootstrapV4/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/chat.css">
    <!--    <link rel="stylesheet" href="/static/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="../pkg/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Welcome to GinChat
            <small> ALI /\ Pick a user and start chatting! <a href="{% url 'logout' %}">خارج شدن
                از حساب کاربری</a></small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="user-list" class="list-group">
                <a href="" class="list-group-item disabled">
                    <h4 class="list-group-item-heading">Users</h4>
                    {# Users go here #}
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">Chat</h4>
                </div>
                <div>
                    <ul id="messages" class="messages">
                        {# Messages go here #}
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="chat-input" type="text"
                               class="form-control input"
                               placeholder="Type your message here ..."
                               maxlength="500">
                        <span class="input-group-btn">
                            <button class="btn btn-info btn send-btn"
                                    id="btn-send">
                                Send</button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn send-btn"><i class="fa fa-paperclip"></i></button>
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>  

<!--<script>-->
<!--    let sessionKey = '{{ request.session.session_key }}';-->
<!--    let currentUser = '{{ request.user.username }}';-->
<!--</script>-->
<!--<script src="/static/js/app.js"></script>-->

<input type="image" style="display: none">

</body>
</html>