@font-face {
    font-family: "Programme";
    src: url(https://assets.genius.com/fonts/programme_normal.woff2?1724948196) format('woff2'),
    url(https://assets.genius.com/fonts/programme_normal.woff?1724948196) format('woff');
}

@font-face {
    font-family: "Crush";
    src: url("../fonts/Crushed-y4Ad.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Programme, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:checked {
    color: white;
}

a:active {
    color: black;
}

body {
    background: rgb(72, 106, 129);
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.menu-container {
    z-index: 2000;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    right: 0;

}

.menu-logo-container {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

.main-logo-font {
    margin: 0 0 0 20px;
}

.menu-logo-container a {
    display: block;
}

.menu-logo-container a:first-child {
    width: 250px;
}

.menu-logo-container a img {
    width: 100%;
}

.menu-logo-container a h1 {
    width: 100%;
}


.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-group {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.github {
    margin-right: 30px;
    font-size: 1.8rem;
}


main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.form-container {
    width: 450px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 32px 32px 32px;
    /*615EA2FF*/
    background-color: #8d8bc8;
}


.form-container .logo-image {
    width: 45%;
}

.form-container .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12px;
}

.margin-16 {
    margin: 16px;
}

.logo-font {
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.logo-font span {
    font-family: "Crush", Arial, sans-serif !important;
}

.logo-font span:hover {
    font-size: 3rem;
    cursor: pointer;
    color: navy;
}


form {
    display: flex;
    flex-direction: column;
    position: relative;
}


.inner-form h1 {
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.1;
}

.info-form {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.17;
}

.info-form:nth-child(3) {
    margin-bottom: 16px;
}

.terms {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 16px;
}

.terms-color {
    color: #13598c;
}


form input {
    width: 100%;
    position: relative;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px 30px;
    font-size: 1.3rem;
    background-color: #8d8bc8;
    border-bottom: 2px solid black;
    border-radius: 15px;
    font-weight: 500;
}

form .phone-icon {
    position: absolute;
    left: 0;
    z-index: 1000;
    font-size: 1.3rem;
    padding: 30px 5px;
    transition: 0.5s;
    pointer-events: none;
}

form .phone-placeholder {
    position: absolute;
    font-size: 1.2rem;
    left: 0;
    padding: 27px 30px;
    font-style: normal;
    transition: 0.5s;
    pointer-events: none;
}

form input:focus {
    border-bottom: navy 2.5px solid;
}

form input:focus ~ .phone-placeholder, form input:valid ~ .phone-placeholder {
    transform: translateY(-18.5px) translateX(-2px);
    font-size: 0.9rem;
    color: navy;
}

form input:focus ~ .phone-icon, form input:valid ~ .phone-icon:valid {
    color: navy;
}

.login-button {
    display: block;
    margin-top: 24px;
    padding: 16px;
    color: #fff;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.login-button:hover {
    background-color: navy;
}

.login-button:active {
    background-color: black;
    margin-top: 30px;

}

.main-logo-font {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Crush", Arial, sans-serif !important;

}

.main-logo span {
    font-family: "Crush", Arial, sans-serif !important;
}

.menu-logo-container a:first-child {
    width: 110px;
}

.footer-container {
    color: white;
    border-top: 2px solid #8d8bc8;
    border-bottom: 2px solid #8d8bc8;
    outline: #0f0c29 solid 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    /*gap: 100px;*/
    align-items: center;
    width: 100%;
    margin-top: 40px;
    flex-wrap: wrap;
}

.footer-content {
    width: 35%;
    line-height: 1.8;
    text-align: justify-all;
}

.footer-logo {
    /*width: 100%;*/
    width: 85px;
}


.footer-logo-container {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin: 45px;*/
}

.footer-copyright {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.copy-icon {
    cursor: pointer;
    font-size: 1.5rem !important;
}
.inner-gmail-container {
    background-color: #8d8bc8;
    width: 20%;
    padding: 10px;
    border: 2px solid #c4c2f3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy-button {
    width: 100%;
    margin: 10px 0 !important;
    padding: 5px !important;

}
.gmail {

}



@media only screen and (min-width: 1024px) {
    .inner-form h1 {
        font-size: 1.9rem;
    }

    .info-form {
        font-size: 1.2rem;
    }

    .terms {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 872px) {
    .menu-logo-container a:first-child {
        width: 60px;
    }

    .main-logo-font {
        font-size: 1rem;
    }

    .github {
        font-size: 1.7rem;
    }

    .login {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 562px) {


    .menu-logo-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;
        width: 20%;
    }

    .main-logo-font {
        display: none;
    }

    .form-container {
        width: 90%;
    }
}

@media only screen and (max-width: 706px) {
    .footer-content {
        font-size: 1.2rem;
    }

    .footer-logo {
        width: 80px;
    }

    .footer-logo-container {
        margin-right: 0;
    }
}
