@font-face {
    font-family: "Programme";
    src: url(https://assets.genius.com/fonts/programme_normal.woff2?1724948196) format('woff2'),
    url(https://assets.genius.com/fonts/programme_normal.woff?1724948196) format('woff');
}

@font-face {
    font-family: "Crush";
    src: url("../pkg/fonts/Crushed-y4Ad.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Programme, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    background: rgb(72, 106, 129);
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


a:checked {
    color: white;
}

a:active {
    color: black;
}


.menu-container {
    z-index: 2000;
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    right: 0;

}

.menu-logo-container {
    display: flex;
    align-items: center;
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
}

.main-logo-font {
    margin: 0 0 0 20px;
}

.menu-logo-container a {
    display: block;
}

.menu-logo-container a:first-child {
    width: 250px;
}

.menu-logo-container a img {
    width: 100%;
}

.menu-logo-container a h1 {
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-group {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.github {
    margin-right: 30px;
    font-size: 4rem;
    display: flex;
    align-items: center;
}
.login {
    text-align: center;
    display: flex;
    align-items: center; /* Ensures 'Login | Register' is vertically centered */
    font-size: 1.5rem;   /* Make sure the font size matches other items */
    margin-top: 0;
}

.main-logo-font {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-family: "Crush", Arial, sans-serif !important;

}

.main-logo span {
    font-family: "Crush", Arial, sans-serif !important;
}

.menu-logo-container a:first-child {
    width: 110px;
}

.footer-container {
    color: white;
    border-top: 2px solid #8d8bc8;
    border-bottom: 2px solid #8d8bc8;
    outline: #0f0c29 solid 5px;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    font-size: 1.4rem;
    /*flex-wrap: wrap;*/
}

.footer-main {
    display: flex;
    justify-content: space-between;
    /*gap: 100px;*/
    align-items: center;
    width: 100%;
    margin-top: 40px;
    /*flex-wrap: wrap;*/
}

.footer-content {
    width: 35%;
    margin-left: 30px;
    line-height: 1.8;
    text-align: justify-all;
}

.footer-logo {
    /*width: 100%;*/
    width: 85px;
}


.footer-logo-container {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.footer-copyright {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.copy-icon {
    cursor: pointer;
    font-size: 1.5rem !important;
}

.inner-gmail-container {
    background-color: #8d8bc8;
    width: 20%;
    padding: 10px;
    border: 2px solid #c4c2f3;
    border-radius: 8px;
    text-align: center;
}

.copy-button {
    width: 100%;
    margin: 10px 0 !important;
    padding: 5px !important;

}
.login-button {
    display: block;
    margin-top: 24px;
    padding: 16px;
    color: #fff;
    background-color: navy;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.login-button:hover {
    /*background-color: #4747d9;*/
    opacity: .85;
}

.login-button:active {
    background-color: black;
    margin-top: 30px;

}
@media only screen and (max-width: 872px) {
    .footer-container {
        width: 95%;
    }
    .menu-logo-container a:first-child {
        width: 60px;
    }

    .main-logo-font {
        font-size: 1rem;
    }

    .github {
        font-size: 1.7rem;
    }

    .login {
        font-size: 1.3rem;
    }

    .footer-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .inner-gmail-container {
        width: 70%;
    }

    .gmail {
        font-size: 1.3rem;
    }

    .footer-logo-container, .footer-content {
        width: 100%;
        text-align: center;
    }

    .footer-logo-container {
        justify-content: center;
        margin-top: 0;
    }


}

@media only screen and (max-width: 706px) {
    .footer-content {
        font-size: 1.2rem;
    }

    .footer-logo {
        width: 80px;
    }

    .footer-logo-container {
        margin-right: 0;
    }
}

@media only screen and (max-width: 562px) {
    .menu-logo-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 20px;
        width: 20%;
    }

    .main-logo-font {
        display: none;
    }
}